{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    <h1>Create a new encyclopedia</h1>   

    <form method=POST action="{% url 'create' %}">
        {% csrf_token %}
        <br><label for="title">Title:</label></br>
        <input class="title" type="text" name="title" placeholder="Title">
        <br><label for="create">Write something:</label></br>
        <textarea id="content" name="content" rows="4" cols="25">Write it here.</textarea>
        <input type="submit" value="Submit">
        
    </form>
    
    

{% endblock %}