{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if texts %}
        {{ texts }}
    {% else %}
        Not Found
    {% endif%}

    <form action="{% url 'edit' name %}">
        <input type="submit" value="Edit"/>
    </form>

{% endblock %}



{% comment %} <h1>Search</h1>
    {% if searched %}
        <h3> You searched fo {{ searched }}</h3>
    {% else %}
        <ul>
            {% for name in searchlist%}
                <li>You searched for <a href="{% url name %}"> {{ name }}</a></li>
            {% endfor%}
        </ul>
    {% endif%} {% endcomment %}