{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    {% comment %} <h1>Search</h1> {% endcomment %}
    
    {% if searched %}
        <h3> You searched fo {{ searched }}</h3>
    {% else %}
        <ul>
            {% for name in searchlist%}
                <li>You searched for <a href="{% url 'library' name %}"> {{ name }}</a></li>
                                     {% comment %} LINK DYNAMIC URL {% endcomment %}
            {% endfor%}
        </ul>
    {% endif%}
    

{% endblock %} 